body {
    margin: 0px;
    padding: 0px;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    padding: 6px 10px;
    border-radius: 4px;
}
.img-login {
    width: 43vw;
    margin-left: -15vw;
}