.card-paciente {
  background-color: rgb(174, 200, 255);
  box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
    rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
    rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 30px 0;
  width: 260px;
  height: 260px;
  margin: 0 35px;
 
}

.nome_paciente,
.tel_paciente,
.plano_paciente,
.sem_plano {
  font-size: 18px;
  font-weight: 500;
}

.plano_paciente {
  color: rgb(42, 5, 137);
}

.sem_plano {
  color: rgb(249, 168, 26);
}

.idade_paciente,
.ver_mais {
  font-size: 14px;
  font-weight: 400;
}

img {
  width: 80px;
  display: block;
  margin: 0 auto;
}

.lista-pacientes {
    display: flex;
    justify-content: space-between;
}