body {
    margin: 0px;
    padding: 0px;
}
form {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    padding: 40px 30px 40px 30px;
}

.btn-delete {
    margin-right: 5px;
}
h5 {
    font-weight: 700 !important;
    
}

.h5margin {
    margin-top: 15px;
}
