.card_listagem {
    display: flex;
    flex-direction: row;
    justify-content: center !important;
    align-items: start !important;
    
    
    height: 20px !important;
    width: 100vw !important;
    margin-left: 10px;
}
 .lista_card {
    margin-top: 8px !important;
    
}

.name, .id, .dataNasc, .genero, .plano   {
  
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 10px;
} 
.cabecalho {
    display: flex;
    justify-content: space-evenly !important;
}


