#navbarApi {
  background-color: #0d6efd;
  color: white;
  width: 70vw;
  height: 60px;
  margin: 0px;
  padding: 0px;
  display: flex;
}
#spanNav{
    margin: 0px;

}

.user-menu{
  padding-top: 0px;
  display:inline-flex;
}

.btn-sair {
  height: 30px;
  border-radius: 50px !important;
  text-align: center;
    
}
.user-photo {
  width: 45px;
}